# MAC-LRN Case Study
   ## Members:
   ### Caguiat, EJ
   ### Caro, Patricia
   ### Dienzo, Jericho Rafael
 
## Dataset: "Titanic: Machine Learning from Disaster"

# Introduction of the problem and dataset
### The training dataset that we are currently using describes different features for each passenger aboard the Titanic and shows whether or not they survived. The task is to correctly classify whether or not a given person with a given set of features (from the test dataset) would survive based on the training dataset.
#### The link to the kaggle dataset that we used: https://www.kaggle.com/c/titanic

# List of requirements
### The list of requirements that we used, and what we think are necessary in order to tackle this problem, are:
#### - Pandas (A Python library built on NumPy which is commonly used for machine learning problems)
#### - NumPy (A Python library used to process numerical data)
#### - The Kaggle Dataset (specifically the Titanic dataset) which can be obtained from the link provided above
#### - Matplotlib (A Python library used for plotting)
#### - Seaborn (A Python for data visualization)

### Import of necessary libraries and data sets

In [158]:
import pandas as pd
import numpy as np
import seaborn as sns
trainfile = pd.read_csv("/Users/Jericho/Documents/Subjects/MAC-LRN/all/train.csv")
testfile = pd.read_csv("/Users/Jericho/Documents/Subjects/MAC-LRN/all/test.csv")

# Data analysis
### The dataset that we used had many different features per person, all of which we deemed necessary in determining whether or not the person would live, except for the Passenger ID, ticket field and cabin(more on this later). There were many anomalies in the dataset, such as null fields, fields that contained different datatypes than intended (int fields having chars), etc. Thus the data cleaning.

# Data Cleaning
### The removal of PassengerId was done because it had no bearing on whether or not the person would survive. 
### The removal of the Ticket field was also done for the same reasons as the PassengerId. It is also hard to identify exactly what the Ticket field is specifying (if anything at all).
### The cabin field might appear as important in determining whether or not a person lives as the other features/factors (after all, the people residing in nearest cabins to the top of the ship have a better chance of surviving), but upon closer inspection, one would come to realize that the Ticket field is nothing but an unnecessary field presenting redundant information. It presents the same data as the Fare and PClass, in that you can already derive a person's status from the Fare and PClass. We can then infer exactly what the person's social status is and, as a result, be able to infer where they are staying on the ship.

In [159]:
columnsdropped = ['PassengerId', 'Ticket', 'Cabin']
trainfile.drop(columnsdropped, inplace = True, axis = 1)
for x in range(0, trainfile['Age'].size - 1):
    if pd.isnull(trainfile.Age.iloc[x]):
        trainfile.at[x, 'Age'] = np.random.uniform(low = trainfile.Age.min(), high = trainfile.Age.max())

print(trainfile)

     Survived  Pclass                                               Name  \
0           0       3                            Braund, Mr. Owen Harris
1           1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2           1       3                             Heikkinen, Miss. Laina
3           1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4           0       3                           Allen, Mr. William Henry
5           0       3                                   Moran, Mr. James
6           0       1                            McCarthy, Mr. Timothy J
7           0       3                     Palsson, Master. Gosta Leonard
8           1       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9           1       2                Nasser, Mrs. Nicholas (Adele Achem)
10          1       3                    Sandstrom, Miss. Marguerite Rut
11          1       1                           Bonnell, Miss. Elizabeth
12          0       3                     Saundercock, Mr. William Henry
13          0       3                        Andersson, Mr. Anders Johan
14          0       3               Vestrom, Miss. Hulda Amanda Adolfina
15          1       2                   Hewlett, Mrs. (Mary D Kingcome)
16          0       3                               Rice, Master. Eugene
17          1       2                       Williams, Mr. Charles Eugene
18          0       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...
19          1       3                            Masselmani, Mrs. Fatima
20          0       2                               Fynney, Mr. Joseph J
21          1       2                              Beesley, Mr. Lawrence
22          1       3                        McGowan, Miss. Anna "Annie"
23          1       1                       Sloper, Mr. William Thompson
24          0       3                      Palsson, Miss. Torborg Danira
25          1       3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26          0       3                            Emir, Mr. Farred Chehab
27          0       1                     Fortune, Mr. Charles Alexander
28          1       3                      O'Dwyer, Miss. Ellen "Nellie"
29          0       3                                Todoroff, Mr. Lalio
..        ...     ...                                                ...
861         0       2                        Giles, Mr. Frederick Edward
862         1       1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863         0       3                  Sage, Miss. Dorothy Edith "Dolly"
864         0       2                             Gill, Mr. John William
865         1       2                           Bystrom, Mrs. (Karolina)
866         1       2                       Duran y More, Miss. Asuncion
867         0       1               Roebling, Mr. Washington Augustus II
868         0       3                        van Melkebeke, Mr. Philemon
869         1       3                    Johnson, Master. Harold Theodor
870         0       3                                  Balkic, Mr. Cerin
871         1       1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872         0       1                           Carlsson, Mr. Frans Olof
873         0       3                        Vander Cruyssen, Mr. Victor
874         1       2              Abelson, Mrs. Samuel (Hannah Wizosky)
875         1       3                   Najib, Miss. Adele Kiamie "Jane"
876         0       3                      Gustafsson, Mr. Alfred Ossian
877         0       3                               Petroff, Mr. Nedelio
878         0       3                                 Laleff, Mr. Kristo
879         1       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         1       2       Shelley, Mrs. William (Imanita Parrish Hall)
881         0       3                                 Markun, Mr. Johann
882         0       3                       Dahlberg, Miss. Gerda Ulrika
883         0       2                      Banfield, Mr. Frederick James
884         0       3                             Sutehall, Mr. Henry Jr
885         0       3               Rice, Mrs. William (Margaret Norton)
886         0       2                              Montvila, Rev. Juozas
887         1       1                       Graham, Miss. Margaret Edith
888         0       3           Johnston, Miss. Catherine Helen "Carrie"
889         1       1                              Behr, Mr. Karl Howell
890         0       3                                Dooley, Mr. Patrick

        Sex        Age  SibSp  Parch      Fare Embarked
0      male  22.000000      1      0    7.2500        S
1    female  38.000000      1      0   71.2833        C
2    female  26.000000      0      0    7.9250        S
3    female  35.000000      1      0   53.1000        S
4      male  35.000000      0      0    8.0500        S
5      male  41.567786      0      0    8.4583        Q
6      male  54.000000      0      0   51.8625        S
7      male   2.000000      3      1   21.0750        S
8    female  27.000000      0      2   11.1333        S
9    female  14.000000      1      0   30.0708        C
10   female   4.000000      1      1   16.7000        S
11   female  58.000000      0      0   26.5500        S
12     male  20.000000      0      0    8.0500        S
13     male  39.000000      1      5   31.2750        S
14   female  14.000000      0      0    7.8542        S
15   female  55.000000      0      0   16.0000        S
16     male   2.000000      4      1   29.1250        Q
17     male  20.534689      0      0   13.0000        S
18   female  31.000000      1      0   18.0000        S
19   female  10.141987      0      0    7.2250        C
20     male  35.000000      0      0   26.0000        S
21     male  34.000000      0      0   13.0000        S
22   female  15.000000      0      0    8.0292        Q
23     male  28.000000      0      0   35.5000        S
24   female   8.000000      3      1   21.0750        S
25   female  38.000000      1      5   31.3875        S
26     male  31.907001      0      0    7.2250        C
27     male  19.000000      3      2  263.0000        S
28   female   2.223000      0      0    7.8792        Q
29     male  38.524410      0      0    7.8958        S
..      ...        ...    ...    ...       ...      ...
861    male  21.000000      1      0   11.5000        S
862  female  48.000000      0      0   25.9292        S
863  female  64.565088      8      2   69.5500        S
864    male  24.000000      0      0   13.0000        S
865  female  42.000000      0      0   13.0000        S
866  female  27.000000      1      0   13.8583        C
867    male  31.000000      0      0   50.4958        S
868    male  57.384142      0      0    9.5000        S
869    male   4.000000      1      1   11.1333        S
870    male  26.000000      0      0    7.8958        S
871  female  47.000000      1      1   52.5542        S
872    male  33.000000      0      0    5.0000        S
873    male  47.000000      0      0    9.0000        S
874  female  28.000000      1      0   24.0000        C
875  female  15.000000      0      0    7.2250        C
876    male  20.000000      0      0    9.8458        S
877    male  19.000000      0      0    7.8958        S
878    male  16.101017      0      0    7.8958        S
879  female  56.000000      0      1   83.1583        C
880  female  25.000000      0      1   26.0000        S
881    male  33.000000      0      0    7.8958        S
882  female  22.000000      0      0   10.5167        S
883    male  28.000000      0      0   10.5000        S
884    male  25.000000      0      0    7.0500        S
885  female  39.000000      0      5   29.1250        Q
886    male  27.000000      0      0   13.0000        S
887  female  19.000000      0      0   30.0000        S
888  female  66.283514      1      2   23.4500        S
889    male  26.000000      0      0   30.0000        C
890    male  32.000000      0      0    7.7500        Q

[891 rows x 9 columns]

In [160]:
trainfile.fillna(np.random.uniform(low = trainfile.Age.min(), high = trainfile.Age.max()), inplace = True)